
*{  
  background-color: rgb(247, 247, 247);  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*outline: 1px solid lime;*/
  
}

:root{
  --lettertype: Calibri, 'Carlito', sans-serif;
  --kleur: rgb(77, 114, 57);
  --titels: Times, "Noto", Georgia, serif;
}

header{
    /*border-bottom: solid 2rem #5ea66d;*/
    border-bottom: solid 2rem rgb(82, 127, 58);
    position: sticky;
    margin-bottom: 1.5rem;
    top: 0;
    width: 100vw;
    box-shadow: 0px 5px 20px #999;
    display: flex;
    align-items: baseline;
    z-index: 2;
    
}

header {
  border: 2px solid red;
}
header img.kleinlogo, header img.grootlogo{
  max-width: 100%;
  height: auto;
}
.grootlogo{
  display: none;
}

nav ul{
  flex-wrap: wrap;
  justify-content: space-around;
  background: transparent;
}

nav li{
  list-style: none;
  padding: 0.5rem;
  padding-top: 1rem;
  margin: 0rem;
  background: transparent;
}
a{
  text-decoration: none;
  background-color: transparent;
}

body{
  /*max-width: 80em;*/
  max-width: 100vw; /*of 100%?*/
  margin: 0px auto;
  font-family: var(--lettertype);
  font-size: 1.4rem;
  color: var(--kleur);
}
main{
  padding: 0.8em;
}
h1{
  font-family: var(--titels);
  margin-bottom: 1rem;
}
figcaption{
  font-size: 1.2rem;
}
p.bronvermelding{font-size: 0.9rem;}

p{margin-bottom: 1.1rem;}

figure{
  margin-bottom: 1em;
}

/*Hamburger-cross menu, bronnen:https://github.com/treehouse/ham-menu, https://codepen.io/james2doyle/pen/edNoPe*/
/*off-screen-menu*/
.off-screen-menu{
  height: 2.5rem;
  width: 15rem;
  max-width: 450px;
  position: fixed;
  right: -450px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: flex-start;
  text-align: left;
  font-size: 1rem;
  transition: .3s ease;
  bottom: auto;
  top: 0;
  z-index: 10;
 
}

.off-screen-menu.active {
  right: 5rem;
}

/* ham menu */
.ham-menu {
  height: 3rem;
  width: 3rem;
  margin-left: auto;
  margin-right: 1rem;
  margin-top: 5rem;
  position: relative;
  cursor: pointer;
  z-index: 10;
}

.ham-menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #FFC000;
  border-radius: 1.5rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: .3s ease;
  
  
}
.ham-menu span:nth-child(1) {
  top: 25%;
}
.ham-menu span:nth-child(3) {
  top: 75%;
}
.ham-menu.active span {
  background-color: #ED7D31;
}
.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
  opacity: 0;
}
.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/*grid home*/
main#home{
  display: grid;
  gap: 1.3rem; 
  grid-template-areas: 
  'one'
  'two'
  'three'
  'four'
  'five'
  ;
}

div#intro, a#olijfolie, a#proces, a#fincas, a#wij {
  background-color: var(--kleur);
  padding: 1.2rem;
  border: 5px solid #9dc183; 
  color: rgb(247, 247, 247);
  text-shadow: 4px 3px 3px rgba(0, 0, 0, 0.6); 
} 

#intro{
  grid-area: two;
  
  font-style: italic;
  font-size: 1.7rem;
}

#olijfolie{
  grid-area: one;

  color: rgb(247, 247, 247);
  font-size: 2rem;
  background-image: url("img/homeolijfolie.jpg");
  background-size: cover;
  background-position: center;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
 padding-bottom: 0.7rem;
 min-height: 8em;
 position: relative; /* in verband met groene achtergrond bij hover anders hele achtergrond groen, nu enkel deze blok gekleurd bij hover*/
 z-index: 0;
}


#proces{
  grid-area: three;

  color: rgb(247, 247, 247);
  font-size: 2rem;
  background-image: url("img/proces1.jpg");
  background-size: cover;
  background-position: center;
  text-align: right;
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
 padding-bottom: 0.7rem;
 min-height: 8em;
 position: relative;
 z-index: 0;
}

#wij{
  grid-area: four;

  color: rgb(247, 247, 247);
  font-size: 2rem;
  background-image: url(img/wij.JPG);
  background-size: cover;
  background-position: center;
  text-align: left;
  display: flex;
  flex-direction:column;
  justify-content: flex-end;
 padding-bottom: 0.7rem;
  padding-bottom: 0.3rem; /*hier waarom, weghalen?*/
  min-height: 8em;
  position: relative;
  z-index: 0;
}


#fincas{
grid-area: five;

color: rgb(247, 247, 247);
font-size: 2rem;
background-image: url("img/fincas1.jpg");    
background-size: cover;
background-position: center;
text-align: right;
display: flex;
flex-direction: column;
justify-content: flex-end;
padding-bottom: 0.1rem;
min-height: 8em;
position: relative;
z-index: 0;
}


/*finca's grid*/

p.uno, p.cementerio,div.campillos,p.perogil, p.caseta{
  max-width: 35ch;
border-bottom: solid 0.1rem rgb(77, 114, 57);
margin-bottom: 1rem;
}
/*p.onderkant{border-bottom: none;}
div.campillos{
  max-width: 35ch;
border-bottom: solid 0.1rem rgb(77, 114, 57);
margin-bottom: 1rem;
}*/
h2{  
    color: var(--kleur);
  }

/*figure img{
  max-height: 22rem;
  
}*/
img{
  max-width: 100%;
  height: auto;
}

main#finca{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.3rem;
  grid-template-areas:
  'one'
  'two'
  'three'
  'four'
  'five'
  'six'
  'seven'
  'eight'
  'nine'
  'ten'
  'eleven'
  'twelve'
  'thirteen'
  'fourteen'
  'fifteen'
  'sixteen'
  'seventeen'
  'eightteen'
  'nineteen'
  'twenty'
  ;
}

h1.uno{
  grid-area: one;
}
h2.uno{
  grid-area: three;
}
p.uno{
  grid-area: four;
}
figure.uno{
  grid-area: two;
}
h1.cementerio{
  grid-area: five;
}
h2.cementerio{
  grid-area: seven;
}
p.cementerio{
  grid-area: eight;
}
figure.cementerio{
  grid-area: six;
}
h1.campillos{
  grid-area: nine;
}
h2.campillos{
  grid-area: eleven;
}
div.campillos{
  grid-area: twelve;
}
figure.campillos{
  grid-area: ten;
}
h1.perogil{
  grid-area: thirteen;
}
h2.perogil{
  grid-area: fifteen;
}
p.perogil{
  grid-area: sixteen;
}
figure.perogil{
  grid-area: fourteen;
}
h1.caseta{
  grid-area: seventeen;
}
h2.caseta{
  grid-area: nineteen;
}
p.caseta{
  grid-area: twenty;
}
figure.caseta{
  grid-area: eightteen;
}

/*finca grid tot hier*/
/*grid wie we zijn
main#wiewezijn{
  display: grid;
  grid-template-areas:
  'one'
  'two'
  'three'
  'four'
  'five'
  'six'
  'seven'
  'eight'
  
  ;
}

h1#titel{
  grid-area: one;
}
p#inleiding{
  grid-area: two;
}
figure#fotowij{
  grid-area: three;
}
p#spanje{
  grid-area: four;
}
p#huis{
  grid-area: five;
}
figure#fotohuis{
  grid-area: six;
}
p#dorp{
  grid-area: seven;
}
p#start{
  grid-area: eight;
}


figure#fotowij{
  max-height: 32rem;
  max-width: 42rem;
  outline: 1px solid red;
  margin-bottom: 1.4rem;
}
figure#fotohuis{
  max-height: 57rem;
  max-width: 42rem;
  outline: 1px solid red;
}

grid wie we zijn tot hier*/



/*navigatie kleurt als muis erover beweegt*/
header nav a:hover{
  text-decoration:underline;
  text-decoration-color: #FFC000;
  font-style: italic;
}
/*navigatie kleurt welke pagina actief is door class current*/
.current{
  background-color: #5ea66d;
}

/*p:hover{
  elke gridbox zijn eigen hover hieronder
}*/


#olijfolie::before, #proces::before, #wij::before, #fincas::before {
  content: '';  /* Maak het pseudo-element zichtbaar */
  position: absolute;  /* Plaats de overlay bovenop de achtergrond + zelfde positie als blok olijfolie  (hieronder; 0000) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 126, 0, 0.3);  
  opacity: 0;  /* Start met geen zichtbare overlay */
 
  z-index: -1;
}

#olijfolie:hover::before, #proces:hover::before, #wij:hover::before, #fincas:hover::before {
  opacity: 1;  /* Maak de overlay zichtbaar bij hover */
  transition: opacity 0.4s ease; 
}


/* Small devices (550px and up) */
@media (min-width: 550px) { 
/*grid*/
main#home{
  display: grid;
  gap: 1.3rem; 
  grid-template-areas: 
  'one two'
  'three two'
  'four four'
  'five five';
}
p.uno, p.cementerio,div.campillos,p.perogil, p.caseta, p.onderkant, p{
  max-width: 60ch;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
/*@media (min-width: 600px) { 
   
  main#home{
    display: grid;
    gap: 1.3rem; 
    grid-template-areas: 
    'two one'
    'three one'
    'four four'
    'five five'
    ;
  }


}*/

/* Medium devices (landscape tablets, 700px and up) */
@media (min-width: 700px) {
  main#home{
    display: grid;
    gap: 1.3rem; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr;
    grid-template-areas: 
    'two one'
    'three one'
    'four four'
    'five five'
    ;
  }

  /*liggend logo*/
    header img.kleinlogo{
      display: none;
    }
    header img.grootlogo{
      display: block;
      width: 32rem;
    height: 6rem;
   
    }
   
    p.uno, p.cementerio,div.campillos,p.perogil, p.caseta, p.onderkant, p{
    max-width: 70ch;
  }
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  body{font-size: 1.5em;}
  h1, h2{font-size: 1.4em;}
  h2{font-size: 1.3em;}

  main#home{
    display: grid;
    gap: 1.3rem; 
    grid-template-areas: 
    'one two three'
    'four four three'
    'five five five'
    ;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 1fr 1fr 2fr;
 
  }
 

  main#finca{
    display: grid;
    gap: 1.3rem; 
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    grid-template-areas:
    'one five'
    'two six'
    'three seven'
    'four eight'
    'nine thirteen'
    'ten fourteen'
    'eleven fifteen'
    'twelve sixteen'
    'seventeen seventeen'
    'eightteen eightteen'
    'nineteen nineteen'
    'twenty twenty'
    ;
   
    
  }
  
  p.uno, p.cementerio,div.campillos,p.perogil, p.caseta, p.onderkant, p {
    max-width: 70ch;
  }

 /*main#wiewezijn{
 
  display: grid;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
 'one three'
  'two three'
  'four three'
  'six five'
  'six seven' 
  'six eight';
 }
  p#inleiding{margin-top: 2rem;}
  figure#fotowij{margin-top: 2rem;}


p#inleiding, p#spanje, p#huis, p#dorp, p#start{
  max-width: 60ch; }/*of 70? checken met tekst mama*/

  main article{
    column-count: 2;
    column-width: auto;
    column-gap:30px;
    column-rule: 3px dotted var(--kleur);  /*weg of aanpassen?*/
}
main article picture,{
    max-width:100%;
}
}

/*h1#titel,
p#inleiding,
figure#fotowij,
p#spanje,
p#huis,
figure#fotohuis,
p#dorp,
p#start{place-self: start stretch;
  outline: 1px solid red;}*/





/* Extra large devices (large laptops and desktops, 1300px and up) */
@media (min-width: 1300px) {
  .off-screen-menu.active {
    right: 18rem;

  }
  main#home > a, main#home > div{
    font-size: 2.2rem;
    
  }
  main article{
    column-count: 3;
    column-width: auto;
    column-gap:30px;
    column-rule: 3px dotted var(--kleur);
}
